<p id="time_entry_spent_to_field_wrapper" style="display:none">
  <%= form.text_field :spent_to, :size => 10, id: 'time_entry_spent_to_field' %>
  <%= calendar_for('time_entry_spent_to_field') %>
</p>

<script type='text/javascript'>

  $(document).ready(function() {
    var field = $('#time_entry_spent_to_field_wrapper'),
          destination = $('#time_entry_spent_on').parent();

      destination.after(field);
      field.show()
 });

</script>
