<p><%= form.check_box("time_range", options={}, checked_value="1", unchecked_value="0") %></p>
<div id="time_entry_spent_to" style="display:none">
  <p><%= form.text_field :spent_to, :size => 10, id: 'time_entry_spent_to_field' %><%= calendar_for('time_entry_spent_to_field') %></p>
</div>


<script type='text/javascript'>

  $(document).ready(function() {
   $('#time_entry_time_range').click(function() {
     $('#time_entry_spent_to').css('display', ($(this).is(':checked') ? 'block' : 'none'));
     $('#time_entry_spent_to_field').datepicker();
   });
 });

</script>
