

<p><%= form.check_box("time_range", options={}, checked_value="1", unchecked_value="0") %></p>
<div id="time_entry_spent_to" style="display:none">
  <p><%= form.text_field :spent_to, :size => 10 %><%= calendar_for('time_entry_spent_to') %></p>
</div>


<script type='text/javascript'>

  $(document).ready(function() {
   $('#time_entry_time_range').click(function() {
     $('#time_entry_spent_to').fadeIn('fast');
     $('#time_entry_spent_to').datepicker();
   });
 });

</script>
